<% provide(:title, "About") %>
 <!--  <h1>About</h1> -->
    
      <h1><span><h3>Create an account. Login.  Make Friends.</h3></span> HACK.<br/><span><h3><a> 2masx@hacktheplanet.com </a></h3></span></h1>
  <a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a>
