<% provide(:title, 'Contact') %>
<h1> Contact </h1>

	<h2> You can only reach me by email, which I check sparingly - because they're watching my every move. <a>2masx@hacktheplanet.com</a> </h2>
	<a href="#"></a>
