<% provide(:title, "Help") %>
    <h1>Help</h1>
    <h2> Send me an e-mail, my team will obtain your IP, retrieve your information, verify you are not trying to infiltrate our organization - then we'll get back to you shortly! : ) <a>2masx@hacktheplanet.com</a> </h2>
    <a href="#"></a>