<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      A universe awaits you, good things are coming. Shoot me an email at <a> sillabus@aol.com </a>
	<a href="#"></a><a href="#"></a>
</p>
    </p>