 <div class = "center jumbotron">
  <h1>Universalflux</h1>
  <h2>
    This is the home page for the new
    <a href="#"> universalflux </a>
    social networking platform.
  </h2>
  <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("Earth.png", alt: "earth_logo", id: "earth_main", class: "img-responsive center-block")%>