<footer class = "footer">
<small>
	<a href= "#"> hack_the_planet </a>
	<a href="#"> by 2masx </a>
</small>
<nav>
	<ul>
		<li><%= link_to "about", about_path %></li>
		<li><%= link_to "contact", contact_path %></li>
		<li><%= link_to "help", help_path %></li>
	</ul>
</nav>
</footer>